.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* El contenido se posiciona al final */
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente si no hay imagen */
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 4px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
}

.card-content {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente para el texto */
  width: 100%;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.card-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.5rem;
}
