.card-container {
  display: flex; /* Organiza las columnas en una fila */
  
  justify-content: center; /* Espaciado uniforme entre columnas */
  align-items: center; /* Centra verticalmente las columnas */
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 1200px; /* Máximo ancho del contenedor */
  margin: 0 auto; /* Centrado horizontal */
  padding: 20px; /* Espaciado interno */
  position: relative;
}

.column {
  display: flex;
  flex-direction: column; /* Apila las tarjetas verticalmente */
}
